.mainBlock {
    min-height: 95vh;
    background: #243238;
    align-content: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;

}

.mainText {
    min-width: 290px;
    color: #c70039;
    font-size: 42px;
    line-height: 48px;
    padding: 5px;
}

.mainText h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 56px;
    margin: 2px;
    font-family: inherit;

}

.mainPhoto {
    max-width: 600px;
    max-height: 800px;
    background-color: #ee8738;
    border-radius: 20px;
    border: #c70039 solid 5px;
}
.im {
    color: whitesmoke;
}

.mainText span {
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    color: whitesmoke;
    font-size: 42px;
    line-height: 58px;
}

@media screen and (max-width: 600px) {
    .mainText {
        min-width: 290px;
        color: #c70039;
        font-size: 22px;
        line-height: 22px;
        padding: 1px;
    }
    .mainText h1 {
        font-size: 25px;
        line-height: 28px;
    }
    .mainText span {
        font-size: 22px;
        line-height: 28px;
    }

}

@media screen and (max-width: 670px){
    .mainPhoto {
        max-width: 250px;
        max-height: 300px;
        object-fit: cover}
}



