.header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 120px;
    background: #cfd8dc;
}
@media screen and (max-width:1030px){
    .header{
        height: 60px;
    }
}