.footerBlock {
    min-height: 15vh;
    background: #243238;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imageContainer {
    display: flex;
    min-width: 280px;
    flex-wrap: wrap;
    justify-content:center;
    background-color: #a5de7c;
}

.link{
margin: 3px;
    font-size: medium;
    width:40px;
    height: 50px;
    background-color: green;
}