@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/myMixins";

.mainBlock {
  min-height: 30vh;
  background: #2d3f47;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;

  .contactsContainer {
    @include container();
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;

    .inputDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      width: 100%;

      .input {
        margin: 20px;
        width: 90%;
        padding: 5px;
        box-sizing: border-box;
        align-self: center;
        text-align: center;
        background-color: $secondColor;
        border: 2px solid $mainColor;
        &:focus {
          color:$secondColor;
          background-color: $backgroundColor2;
          border: 2px solid $secondColor;
        }
        @media screen and (min-width: 620px) {
          width: 50%;
          font-size: large;
        }
      }
    }
  }
}
