.skillsBlock {
 min-height: 30vh;
 background-color: #d3e3d7;
 justify-content:flex-start;
 flex-wrap: wrap;
 align-content: center;
}
.contactsContainer{
 flex-direction: column;
 justify-content:center;
 align-content: flex-start;
}
.title{
 display: flex;
 background-color: yellow;
}
.inputDiv{
 display: flex;
 flex-direction: column;
 justify-content:center;
 align-content: center;
 width: 100%;
}
.input{
 margin: 5px;
 width: 230px;
 padding: 20px;
 box-sizing: border-box;
 align-self: center;
}